<!DOCTYPE html>
<html>
<head>
    <title>Eventify</title>
    <link rel="stylesheet" type="text/css" href="your-css-file.css">
</head>
<body style="background-color: orange;">
    <div class="top-bar">
        <button class="btn">Log in</button>
        <button class="btn">Sign Up</button>
    </div>
    <div class="logo">
        <img src="/assets/images/logo-color.png">
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Search events by tags">
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Search events by location">
    </div>
    <div class="submit-button">
        <button class="btn">Submit</button>
    </div>
    <div class="how-it-works">
        <h2>How does Eventify work?</h2>
        <div class="icon-section">
            <div class="icon">
                <img src="/assets/images/person.png">
                <p>Create an account</p>
            </div>
            <div class="icon">
                <img src="/assets/images/people.png">
                <p>Join an event</p>
            </div>
            <div class="icon">
                <img src="/assets/images/fun.png">
                <p>Have fun!</p>
            </div>
        </div>
    </div>
    <div class="description">
        <p>Connecting People Through Shared Interests, Where Events Blossom into Lifelong Friendships! Explore a Vibrant World of Hiking, Reading, Networking, Skill Sharing, and More. Join the Fun Today!</p>
    </div>
</body>
</html>
