<body class="container" style="background-color:rgb(255, 162, 0); margin-top:10px">
<div class="container-lg p-5 my-5 text-center">

<h2 style="margin-top: 10px;">Add an event!</h2>

    <div class="form-group">
        <h4 for="eventTitle">Event Title</h4>
        <input type="text" class="form-control" id="eventTitle" name="eventTitle" placeholder="Enter event title">
        <p class="help-block">Enter a title for your event</p>
    </div>

    <div class="form-group">
        <h4 for="eventDescription">Event Description</h4>
        <input type="text" class="form-control" id="eventDescription" name="eventDescription" placeholder="Enter event description">
        <p class="help-block">Enter a description for your event</p>
    </div>

    <div class="form-group">
        <h4 for="eventDescription">Host ID</h4>
        <input type="text" class="form-control" id="eventDescription" name="eventDescription" placeholder="Enter host ID">
        <p class="help-block">Enter a description for your event</p>
    </div>

    <div class="form-group">
        <h4 for="eventDescription">Event Time</h4>
        <input type="text" class="form-control" id="eventDescription" name="eventDescription" placeholder="Please use YYYY-MM-DD HH:mm:ss formatting eg. 2023-08-12 16:00:00">
        <p class="help-block">Enter the time of the event</p>
    </div>

    <div class="form-group">
        <h4 class = "font-bold" for="eventDescription text-bold">Event Location</h4>
        <input type="text" class="form-control" id="eventDescription" name="eventDescription" placeholder="Enter a Location for your event">
        <p class="help-block">Enter a Location for your event</p>
    </div>


    <button type="submit" class="btn btn-primary btn-success">Submit</button></form>

    
    <h2 class="margin-10px">Update an event location!</h2>
    <div class="form-group">
        <h4 for="eventTitle">Event ID</h4>
        <input type="text" class="form-control" id="eventTitle" name="eventTitle" placeholder="Enter event title">
        
    </div>
    <div class="form-group">
        <h4 for="eventDescription">New Event Location</h4>
        <input type="text" class="form-control" id="eventDescription" name="eventDescription" placeholder="Enter event description">
        
    </div>
    <button type="submit" class="btn btn-primary btn-success">Submit</button></form>


    <h2>Delete an event!</h2>
    <div class="form-group">
        <h4 for="eventTitle">Event ID</h4>
        <input type="text" class="form-control" id="eventTitle" name="eventTitle" placeholder="Enter event title">
        
    </div>
    <button type="submit" class="btn btn-primary btn-success">Submit</button></form>
</div>
</body>