{{! The template for displaying the details of a specific event. }}

{{!-- {{#each events}} and {{/each}} are Handlebars.js block helpers used to iterate over the events array passed from the controller. --}}
<div class="event-list">
  {{#each event as |event|}}
    <div class="event">
      <h3>{{event.event_title}}</h3>
      <p>{{event.event_description}}</p>
      <p>Date: {{event.time}}</p>
      <p>Location: {{event.location}}</p>
    </div>
  {{/each}}
</div>