<form class="form" action="/routes/eventRoutes.js" method="post">
  <div class="form-group">
    <label for="eventTitle">Event Title</label>
    <input
      type="text"
      class="form-control"
      id="eventTitle"
      name="eventTitle"
      placeholder="Enter event title"
    />
    <p class="help-block">Enter a title for your event</p>
  </div>
  <div class="form-group">
    <label for="eventDescription">Event Description</label>
    <input
      type="text"
      class="form-control"
      id="eventDescription"
      name="eventDescription"
      placeholder="Enter event description"
    />
    <p class="help-block">Enter a description for your event</p>
  </div>
  <button
    type="submit"
    class="btn btn-primary btn-success"
  >Submit</button></form>