<body class="container" style="background-color:rgb(255, 162, 0)">
<form >

  <!-- Grid -->
  {{!-- <div class="grid text-centre">

    <!-- Markup example 1: input is inside label -->
    <label for="firstname">
      First name
      <input type="text" id="firstname" name="firstname" placeholder="First name" required>
    </label>

    <label for="lastname">
      Last name
      <input type="text" id="lastname" name="lastname" placeholder="Last name" required>
    </label>

  </div> --}}

  <!-- Markup example 2: input is after label -->
  <label for="username">Email address</label>
  <input type="username" id="username" name="username" placeholder="Email address" required>
  <small>We'll never share your email with anyone else.</small>

  <label for="password">Password</label>
  <input type="password" id="password" name="password" placeholder="Password" required>

  <!-- Button -->
  <button type="submit">Submit</button>

</form>
</div>