<body style="background-color:rgb(255, 162, 0); font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">

<form class="signup-form text-center">

  <!-- Grid -->
  {{!-- <div class="grid text-centre">

    <!-- Markup example 1: input is inside label -->
    <label for="firstname">
      First name
      <input type="text" id="firstname" name="firstname" placeholder="First name" required>
    </label>

    <label for="lastname">
      Last name
      <input type="text" id="lastname" name="lastname" placeholder="Last name" required>
    </label>

  </div> --}}

  <!-- Markup example 2: input is after label -->
  <h1 class="text-center margin-10px">Sign up!</h1>
<label class="text-center" for="email">Email address:</label>

  <input class="text-center" type="email" id="email-signup" name="email" placeholder="Email address" required>

  
  <label for="password">Password:</label>
  <input type="password" id="password-signup" name="password" placeholder="Password" required>

  <!-- Button -->
  <button class="btn btn-primary" type="submit">Submit</button>

</form>
</div>

<script src="/js/signup.js"></script>